<h2>I am a teacher, mother, rugby player, and aspiring software developer.</h2>

<div class="row img-row">
  <div class="col-6">
    <figure>
      <img class="responsive center styled" src="mom_holiday_blur.jpg" alt="Holiday and mom">
      <figcaption>This is me and my daughter, Holiday, at the Rail Stop Cafe in central Virginia. We were celebrating my parents' anniversary.</figcaption>
    </figure>
  </div>
  <div class="col-6">
    <figure>
      <img class="responsive center styled" src="swing_blur.jpg" alt="Holiday in a swing">
      <figcaption>Here Holiday is happy happy happy doing one of her favorite activities - swinging at the park. We are at the Richmond Beach Park, which has a beautiful view of the water.</figcaption>
    </figure>
  </div>
</div>
