<p>I am a teacher, mother, rugby player, and aspiring software developer.</p>

<div class="row">
  <div class="col-6">
    This is me and my daughter Holiday on a walk in Edmonds, WA. When this photo was taken, it was still warm and sunny in Seattle. These times are apparently over.
  </div>
  <div class="col-6">
    This is Holiday on her special chair. My mom dressed her up in my old christening dress when I was not paying attention. My mom loves to dress her up.
  </div>
</div>
<div class="row img-row">
  <div class="col-6">
    <img src="IMG_0341.JPG" alt="Holiday walking with mom" title="Holiday walking with mom" width=100%>
  </div>
  <div class="col-6">
    <img src="IMG_0192.JPG" alt="Holiday on chair" title="Holiday on her chair" width=100%>
  </div>
</div>
