<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type='image/x-icon' href="favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>My Homepage</h1>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="about">about</a></li>
      <li><a href="project">projects</a></li>
      <li><a href="blog">blog</a></li>
    </ul>
  </nav>
  <div>
    <img src="giphy.gif" alt="Tina Fey framing her face in baby mama movie" width = 50%>
    <p>Do you think framing your face is a cool dance move? You've come to the right place.</p>
  </div>


</body>
</html>
