<div>
  <img class="giphy" src="giphy.gif" alt="Tina Fey framing her face in baby mama movie">
  <div class="center-text large-text">
      <p>Do you think framing your face is a cool dance move?</p>
      <p>You've come to the right place.</p>
  </div>
</div>
