%div
  %img.giphy{:src => "giphy.gif", :alt => "Tina Fey framing her face in baby mama movie"}
  .center-text.large-text
    %p Do you think framing your face is a cool dance move?
    %p You've come to the right place.
