<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type='image/x-icon' href="favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Volkhov:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title><%= @title %> | Jennie's Website</title>
</head>
<body>
  <container>
    <div class="row">
      <div class="col-2"><img src="strawberry-logo.png" class="logo" alt="logo of strawberry kid"></div>
      <div class="col-10"><h1><%= @title %></h1></div>
    </div>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="about">about</a></li>
        <li><a href="project">projects</a></li>
        <li><a href="blog">blog</a></li>
        <link rel="shortcut icon" href="favicon.ico">
      </ul>
    </nav>
    <%= yield %>
  </container>
</body>
</html>
