.row
  .col-12
    %h2 Ada Developer's Academy
.row
  .col-4
    %img.responsive.center{ :src => "adadevelopersacademy.png", :alt => "Ada Developers Academy Logo"}
  .col-6
    %p Here are some of the projects I have worked on so far at
    %a{ :href => "http://adadevelopersacademy.org/" }Ada Developers Academy:
    %ul
      %li
        %a{ :href => "https://github.com/jbuechs/FarMar"}FarMar
      %li
        %a{ :href => "https://github.com/jbuechs/Scrabble"}Scrabble
      %li
        %a{ :href => "https://github.com/jbuechs/Word-Guess"}Word Guess
.row
  .col-12
    %h2 Udacity Front End Developer Nanodegree
.row
  .col-4
    %img.responsive.center{ :src => "Udacity_Logo.png", :alt => "Udacity Logo"}
  .col-6
    %p Here are some of the projects I made for my
    %a{ :href => "https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001" }Udacity FEND
    %ul
      %li
        %a{ :href => "http://jbuechs.github.io/Udacity-Project-5-Map/" }Neighborhood Map Project
      %li
        %a{ :href => "http://jbuechs.github.io/Udacity-Project-3-Frogger/" }Frogger Remake
      %li
        %a{ :href => "http://jbuechs.github.io/Udacity-Project-1-Eportfolio/" }Electronic Portfolio
